name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: backend/devops-mini-project
        run: npm install

      - name: Run tests
        working-directory: backend/devops-mini-project
        run: npm run test

      - name: Build Docker image
        working-directory: backend/devops-mini-project
        run: docker build -t nest-devops-app .